.logo-circle{

  width: 100px;
  margin: 50px auto 30px auto;
  display: block;
  img{
    width: 100%;
  }
}

.app-title{
  color:rgba(255,255,255,1);

}

.auth-form{
  ion-icon{
    font-size: 25px;

  }
 .item{
   background: none;
 }
}

