<ion-header  no-border class="custom-header">
  <ion-navbar>
    <button ion-button menuToggle color="wh">
      <ion-icon name="custom-menu"></ion-icon>
    </button>
    <ion-title>New Order</ion-title>
  </ion-navbar>
  <ion-toolbar  text-center class="small-title">
    <ion-title >{{curentTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="has-gradient2">

  <div padding text-center *ngIf="inLoad">
    <ion-spinner></ion-spinner>
  </div>

  <div class="source-holder">
    <ion-grid>
      <ion-row>
        <ion-col  col-4 *ngFor="let source of sources" (click)="helper.redirect(productPage , source)">
          <img  [src]="source.hasImg ?  url + '/uploads/sources/' + source.id + '.png?d=' + source.d : img">
          <span class="source-name">{{source.name}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
