 .source-holder{
   padding: 30px;
 }
 .source-name{
   color: color($colors,wh);
   font-size: 16px;
   text-align: center;
   display: block;
   width: 100%;
 }
 ion-col{
   margin-bottom: 35px !important;
 }