.settings{
  ion-icon{
    font-size: 25px;
    line-height: 22px;
  }
}
.label-holder{
  .item-inner{
    padding: 0 !important;

  }

}
.change-pass{
  z-index: 1000;
  position: relative;

}